<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/css/uikit.min.css" />
</head>
<body>
    <header>
        <nav class="uk-navbar-container uk-navbar">
            <div class="uk-navbar-left">

        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
</html>