<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/css/uikit.min.css" />
</head>
<body>
    <header>
        <nav class="uk-navbar-container uk-navbar">
            <div class="uk-navbar-left">
        
                <div class="uk-navbar-item">
                    <div><a href="/">Home</a></div>
                </div>
                <div class="uk-navbar-item">
                    <div><a href="/dashboard">Dashboard</a></div>
                </div>
                <div class="uk-navbar-item">
                    <div><a href="/login">Login</a></div>
                </div>
                <div class="uk-navbar-item">
                    <div><a href="#">Logout</a></div>
                </div>
        
            </div>
        </nav>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="http://localhost:3001/" aria-label="Back to Home"><h1 class="uk-heading-small">The Tech Blog</h1></a>
            </div>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
</html>