<a class="uk-button uk-button-default uk-position-top-center uk-position-relative uk-background-primary" id="newPostBtn" href="/post">+ New Post</a>
<div class="uk-container uk-margin uk-container-medium uk-background-primary">
{{#each posts as |post| }}
    <div class="uk-card uk-margin uk-margin-top uk-margin-bottom uk-card-body uk-background-secondary">

        <div class="post-header">

        </div>
        <div class="content">

        </div>
    </div>
{{/each}}
</div>