<a class="uk-button uk-button-default uk-position-top-center uk-position-relative uk-background-primary" id="newPostBtn" href="/post">+ New Post</a>
<div class="uk-container uk-margin uk-container-medium uk-background-primary">
{{#each posts as |post| }}

{{/each}}
</div>