<div class="uk-container uk-flex uk-flex-center">
    <div class="uk-container uk-background-secondary">
        <form class="uk-margin-left uk-margin-right loginForm">
            <h2>Login</h2>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" id="loginEmail" type="text" placeholder="email" aria-label="Not clickable icon">
                </div>
            </div>
        
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input" id="loginPassword" type="password" placeholder="password" aria-label="Not clickable icon">
                </div>
            </div>
            <input class="uk-button uk-button-default" id="loginBtn" type="submit" value="Login">
        </form>
    </div>
    <div class="uk-container uk-background-secondary">
        <form class="uk-margin-left uk-margin-right signupForm">
            <h2>Sign Up</h2>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" id="signupUsername" type="text" placeholder="username" aria-label="Not clickable icon">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input class="uk-input" id="signupEmail" type="text" placeholder="email" aria-label="Not clickable icon">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input" id="signupPassword" type="password" placeholder="password" aria-label="Not clickable icon">
                </div>
            </div>
        </form>
    </div>
</div>
