<form id="postForm">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Create New Post</legend>

        <div class="uk-margin">
            <input class="uk-input" id="title" type="text" placeholder="Post Title" aria-label="Input">
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea" id="text" rows="5" placeholder="Content Area" aria-label="Textarea"></textarea>
        </div>
    </fieldset>
    <button class="uk-button uk-button-secondary uk-button-large">Post</button>
</form>

<script src="./js/new.js"></script>